.container{
width:1280px;
margin: 0 auto;
position: relative;
}
.header{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 80px;
color: #000000;
padding-top: 61px;
}
.header_2{
color: lightskyblue;
}
.navigation{
width: 100%;
background: #35444F;
font-size: 24px;
line-height: 28px;
color: white;
margin-top: 38px;
display: flex;
justify-content: center;
}
a{
text-decoration: none;
}
.nav_link{
padding: 26px 36px 19px;
color: white;
font-family: Roboto;
padding-top: 26px;
padding-bottom: 19px;
padding-left:33px;
}
.nav_link:hover{
display: block;
background: #222F3A;
}
.link_border{
border-left: 1px solid white;
border-right: 1px solid white;
}
.navigation_column{
margin-top: 50px;
width: 344px;
height: 399px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
display: flex;
flex-direction: column;
justify-content: center;
}
.column_link{
padding-top: 27px;
padding-bottom: 27px;
padding-left: 44px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 27px;
display: flex;
color: #485863;
}
.column_link:hover{
display: block;
background: #DBDBDB;
}
.flex-container{
display: flex;
justify-content: space-between;
}
.picture{
border: 1px solid black;
width: 885px;
margin-top: 50px;
height: 529px;
align-items: center;
justify-content: center;
display: flex;
}
.picture:hover{
-webkit-transform: scale(1.1);
-moz-transform: scale(2.1);
-o-transform: scale(5.1);
transition: transform 1s;
}

.text{
margin-top: 37px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
width: 885px;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
}
.text_1{
padding-bottom: 34px;
}
.text_2{
padding-bottom: 54px;
}
.navigation_down{
width: 1280px;
height: 69px;
background: rgba(99, 105, 110, 0.48);
display: flex;
flex-direction: row;
justify-content: flex-start;
margin-bottom: 30px;
}
.nav_link_down{
display: flex;
align-items: center;
justify-content: space-evenly;
color: black;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 28px;
padding-left: 40px;
height: 69px;
}
.nav_link_down:hover{
text-decoration: underline;
color: rgb(82, 133, 192);
}
.copyright{
display: flex;
align-items: center;
justify-content: flex-end;
color: black;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
padding-left: 250px;
}